<form action="/toughts/create" method="post" class="create-form">
    <input type="hidden" name="author" value="{{user.name}}">
    <label class="form-label" >
        <span class="title f-big">Title</span>
        <input type="text" name="title"  class="g-input">
    </label>
    <input type="submit" value="Create" class="g-btn create-btn">
</form>